html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  min-width: 320px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
